				<div class="block banners-with-pad">
					<div class="container">
						<div class="row">
							<div class="col-md-7">
								<a href="#" class="banner-wrap">
									<div class="banner style-17 autosize-text image-hover-scale" data-fontratio="4.6">
										<img src="images/banners/banner-17.jpg" alt="Banner">
										<div class="banner-caption vertb horl">
											<div class="vert-wrapper">
												<div class="vert">
													<div class="text-1">Fashion collection</div>
													<div class="text-2 text-hoverslide" data-hcolor="#ffffff"><span><span class="text">Underwear</span><span class="hoverbg"></span></span>
													</div>
													<div class="text-3">To take a trivial example, which of us ever undtakes
														<br> laborious physical exercise
													</div>
												</div>
											</div>
										</div>
									</div>
								</a>
								<a href="#bannerLink" class="banner-wrap">
									<div class="banner style-18 autosize-text image-hover-scale" data-fontratio="4.6">
										<img src="images/banners/banner-18.jpg" alt="Banner">
										<div class="banner-caption vertl horl">
											<div class="vert-wrapper">
												<div class="vert">
													<div class="text-1">BIG STATMENT</div>
													<div class="text-2">AWESOME BRA</div>
													<div class="banner-btn text-hoverslide" data-hcolor="#fff"><span><span class="text">SPECIAL OFFERS</span><span class="hoverbg"></span></span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</a>
							</div>
							<div class="col-md-5">
								<a href="#bannerLink" class="banner-wrap">
									<div class="banner style-19 autosize-text image-hover-scale" data-fontratio="4.6">
										<img src="images/banners/banner-19.jpg" alt="Banner">
										<div class="banner-caption vertb horl">
											<div class="vert-wrapper">
												<div class="vert">
													<div class="text-1">FASHION NIGHT</div>
													<div class="text-2">HAS ARRIVED</div>
												</div>
											</div>
										</div>
									</div>
								</a>
								<a href="#bannerLink" class="banner-wrap">
									<div class="banner style-20 autosize-text image-hover-scale" data-fontratio="4.6">
										<img src="images/banners/banner-20.jpg" alt="Banner">
										<div class="banner-caption vertb horr">
											<div class="vert-wrapper">
												<div class="vert">
													<div class="text-1">Always Up To Date<span class="text-corner"></span></div>
													<div class="text-2">URBAN CLOTHING</div>
												</div>
											</div>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="block bottom-space">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<!-- Blog Carousel -->
								<div class="title">
									<h2>From Blog</h2>
									<div class="carousel-arrows"></div>
								</div>
								<!-- Blog Carousel Item -->
								<div class="blog-carousel">
									<div class="blog-item">
										<a href="blog.html" class="blog-item-photo"> <img class="product-image-photo" src="images/blog/blog-1.jpg" alt="From Blog"> </a>
										<div class="blog-item-info">
											<a href="blog.html" class="blog-item-title">Inventore consectetur ullam</a>
											<div class="blog-item-teaser">Repellat aspernatur esse minus. Molestiae ipsum earum, aspernatur fugit veniam ducimus doloremque repellat suscipit. Cumque!</div>
											<div class="blog-item-links"> <span class="pull-left"> <span><a href="#" class="readmore">Read more</a></span> </span> <span class="pull-right"> <span>Post by <a href="#">Admin</a></span> </span>
											</div>
										</div>
									</div>
									<!-- /Blog Carousel Item -->
									<!-- Blog Carousel Item -->
									<div class="blog-item">
										<a href="blog.html" class="blog-item-photo"> <img class="product-image-photo" src="images/blog/blog-2.jpg" alt="From Blog"> </a>
										<div class="blog-item-info">
											<a href="blog.html" class="blog-item-title">Aperiam, vero facilis</a>
											<div class="blog-item-teaser">Commodo delectus consequuntur consectetur culpa ea doloremque repellat laoreet semper tincidunt lorem Euismod euismod Suspendisse </div>
											<div class="blog-item-links"> <span class="pull-left"> <span><a href="#" class="readmore">Read more</a></span> </span> <span class="pull-right"> <span>Post by <a href="#">Admin</a></span> </span>
											</div>
										</div>
									</div>
									<!-- /Blog Carousel Item -->
									<!-- Blog Carousel Item -->
									<div class="blog-item">
										<a href="blog.html" class="blog-item-photo"> <img class="product-image-photo" src="images/blog/blog-3.jpg" alt="From Blog"> </a>
										<div class="blog-item-info">
											<a href="blog.html" class="blog-item-title">Repellat aspernatur</a>
											<div class="blog-item-teaser">Omnis, nihil hic ratione culpa atque ipsum repellat quaerat impedit, ipsam odio delectus consequuntur consectetur culpa ea doloremque repellat</div>
											<div class="blog-item-links"> <span class="pull-left"> <span><a href="#" class="readmore">Read more</a></span> </span> <span class="pull-right"> <span>Post by <a href="#">Admin</a></span> </span>
											</div>
										</div>
									</div>
									<!-- /Blog Carousel Item -->
									<!-- Blog Carousel Item -->
									<div class="blog-item">
										<a href="blog.html" class="blog-item-photo"> <img class="product-image-photo" src="images/blog/blog-4.jpg" alt="From Blog"> </a>
										<div class="blog-item-info">
											<a href="blog.html" class="blog-item-title">Commodo laoreet tincidunt</a>
											<div class="blog-item-teaser">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi provident earum minus delectus voluptatum asperiores consectetur culpa ea doloremque</div>
											<div class="blog-item-links"> <span class="pull-left"> <span><a href="#" class="readmore">Read more</a></span> </span> <span class="pull-right"><span>Post by <a href="#">Admin</a></span> </span>
											</div>
										</div>
									</div>
									<!-- /Blog Carousel Item -->
								</div>
								<!-- /Blog Carousel -->
							</div>
							<div class="col-md-6">
								<!-- Deal Carousel -->
								<div class="title">
									<h2 class="custom-color">Deal of the day</h2>
									<div class="toggle-arrow"></div>
									<div class="carousel-arrows"></div>
								</div>
								<div class="collapsed-content">
									<div class="deal-carousel-2 products-grid product-variant-5">
										<!-- Product Item -->
										<div class="product-item large">
											<div class="product-item-inside">
												<div class="product-item-info">
													<!-- Product Photo -->
													<div class="product-item-photo">
														<!-- product main photo -->
														<div class="product-item-gallery-main">
															<a href="#"><img class="product-image-photo" src="images/products/product-19.jpg" alt=""></a>
															<a href="quick-view.html" title="Quick View" class="quick-view-link quick-view-btn"> <i class="icon icon-eye"></i><span>Quick View</span></a>
														</div>
														<!-- /product main photo  -->
														<!-- Product Label -->
														<div class="product-item-label label-new"><span>New</span></div>
														<!-- /Product Label -->
														<!-- Product Actions -->
														<a href="#" title="Add to Wishlist" class="wishlist active"> <i class="icon icon-heart"></i><span>Add to Wishlist</span> </a>
														<div class="product-item-actions">
															<div class="share-button toBottom">
																<span class="toggle"></span>
																<ul class="social-list">
																	<li>
																		<a href="#" class="icon icon-google google"></a>
																	</li>
																	<li>
																		<a href="#" class="icon icon-fancy fancy"></a>
																	</li>
																	<li>
																		<a href="#" class="icon icon-pinterest pinterest"></a>
																	</li>
																	<li>
																		<a href="#" class="icon icon-twitter-logo twitter"></a>
																	</li>
																	<li>
																		<a href="#" class="icon icon-facebook-logo facebook"></a>
																	</li>
																</ul>
															</div>
														</div>
														<!-- /Product Actions -->
														<!-- product carousel -->
														<div class="product-item-gallery-previews-wrapper">
															<div class="product-item-gallery-previews">
																<div class="item">
																	<a href="#"><img src="images/products/product-19.jpg" data-image="images/products/product-19.jpg" alt=""></a>
																</div>
																<div class="item">
																	<a href="#"><img src="images/products/product-19-1.jpg" data-image="images/products/product-19-1.jpg" alt=""></a>
																</div>
																<div class="item">
																	<a href="#"><img src="images/products/product-19-2.jpg" data-image="images/products/product-19-2.jpg" alt=""></a>
																</div>
																<div class="item">
																	<a href="#"><img src="images/products/product-19-3.jpg" data-image="images/products/product-19-3.jpg" alt=""></a>
																</div>
															</div>
															<div class="carousel-arrows"></div>
														</div>
														<!-- /product carousel -->
														<ul class="color-swatch hidden-xs">
															<li class="active">
																<a data-image="images/products/product-19.jpg" href="#"><img src="images/colorswatch/color-yellow.png" alt="Yellow"></a>
															</li>
															<li>
																<a data-image="images/products/product-19-c1.jpg" href="#"><img src="images/colorswatch/color-blue.png" alt="Blue"></a>
															</li>
															<li>
																<a data-image="images/products/product-19-c2.jpg" href="#"><img src="images/colorswatch/color-red.png" alt="Red"></a>
															</li>
															<li>
																<a data-image="images/products/product-19-c3.jpg" href="#"><img src="images/colorswatch/color-grey.png" alt="Grey"></a>
															</li>
															<li>
																<a data-image="images/products/product-19-c4.jpg" href="#"><img src="images/colorswatch/color-green.png" alt="Green"></a>
															</li>
															<li>
																<a data-image="images/products/product-19-c5.jpg" href="#"><img src="images/colorswatch/color-violet.png" alt="Violet"></a>
															</li>
														</ul>
													</div>
													<!-- /Product Photo -->
													<!-- Product Details -->
													<div class="product-item-details">
														<div class="product-item-name"> <a title="Cover up tunic" href="product.html" class="product-item-link">Cover up tunic</a></div>
														<div class="product-item-description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonkdni numquam eius modi tempora incidunt ut labore</div>
														<div class="price-box"> <span class="price-container"> <span class="price-wrapper"> <span class="price">$110.00</span></span>
															</span>
														</div>
														<div class="product-item-rating"> <i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i></div>
														<button class="btn add-to-cart" data-product="789123"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
													</div>
													<!-- /Product Details -->
												</div>
											</div>
										</div>
										<!-- /Product Item -->
										<!-- Product Item -->
										<div class="product-item large">
											<div class="product-item-inside">
												<div class="product-item-info">
													<!-- Product Photo -->
													<div class="product-item-photo">
														<!-- Product Label -->
														<div class="product-item-label label-new"><span>New</span></div>
														<!-- /Product Label -->
														<div class="product-item-gallery">
															<!-- product main photo -->
															<div class="product-item-gallery-main">
																<a href="#"><img class="product-image-photo" src="images/products/product-13.jpg" alt=""></a>
																<a href="quick-view.html" title="Quick View" class="quick-view-link quick-view-btn"> <i class="icon icon-eye"></i><span>Quick View</span></a>
															</div>
															<!-- /product main photo  -->
														</div>
														<!-- Product Actions -->
														<a href="#" title="Add to Wishlist" class="no_wishlist"> <i class="icon icon-heart"></i><span>Add to Wishlist</span> </a>
														<div class="product-item-actions">
															<div class="share-button toBottom">
																<span class="toggle"></span>
																<ul class="social-list">
																	<li>
																		<a href="#" class="icon icon-google google"></a>
																	</li>
																	<li>
																		<a href="#" class="icon icon-fancy fancy"></a>
																	</li>
																	<li>
																		<a href="#" class="icon icon-pinterest pinterest"></a>
																	</li>
																	<li>
																		<a href="#" class="icon icon-twitter-logo twitter"></a>
																	</li>
																	<li>
																		<a href="#" class="icon icon-facebook-logo facebook"></a>
																	</li>
																</ul>
															</div>
														</div>
														<!-- /Product Actions -->
													</div>
													<!-- /Product Photo -->
													<!-- Product Details -->
													<div class="product-item-details">
														<div class="product-item-name"> <a title="Style Dome Men's Solid Red Color" href="product.html" class="product-item-link">Style Dome Men's Solid Red Color</a> </div>
														<div class="product-item-description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonkdni numquam eius modi tempora incidunt ut labore</div>
														<div class="price-box"> <span class="price-container"> <span class="price-wrapper"><span class="price">$359.00</span> </span>
															</span>
														</div>
														<div class="product-item-rating"> <i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i></div>
														<button class="btn add-to-cart" data-product="789123"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
													</div>
													<!-- /Product Details -->
												</div>
											</div>
										</div>
										<!-- /Product Item -->
										<!-- Product Item -->
										<div class="product-item previews-3 large">
											<div class="product-item-inside">
												<div class="product-item-info">
													<!-- Product Photo -->
													<div class="product-item-photo">
														<!-- Product Label -->
														<div class="product-item-label label-new"><span>New</span></div>
														<div class="product-item-label label-sale"><span>-20%</span></div>
														<!-- /Product Label -->
														<!-- product main photo -->
														<div class="product-item-gallery-main">
															<a href="#"><img class="product-image-photo" src="images/products/product-11-1.jpg" alt=""></a>
															<a href="quick-view.html" title="Quick View" class="quick-view-link quick-view-btn"> <i class="icon icon-eye"></i><span>Quick View</span></a>
														</div>
														<!-- /product main photo  -->
														<!-- Product Actions -->
														<a href="#" title="Add to Wishlist" class="no_wishlist"> <i class="icon icon-heart"></i><span>Add to Wishlist</span> </a>
														<div class="product-item-actions">
															<div class="share-button toBottom">
																<span class="toggle"></span>
																<ul class="social-list">
																	<li>
																		<a href="#" class="icon icon-google google"></a>
																	</li>
																	<li>
																		<a href="#" class="icon icon-fancy fancy"></a>
																	</li>
																	<li>
																		<a href="#" class="icon icon-pinterest pinterest"></a>
																	</li>
																	<li>
																		<a href="#" class="icon icon-twitter-logo twitter"></a>
																	</li>
																	<li>
																		<a href="#" class="icon icon-facebook-logo facebook"></a>
																	</li>
																</ul>
															</div>
														</div>
														<!-- /Product Actions -->
														<!-- product carousel -->
														<div class="product-item-gallery-previews-wrapper">
															<div class="product-item-gallery-previews">
																<div class="item">
																	<a href="#"><img src="images/products/product-11.jpg" data-image="images/products/product-11.jpg" alt=""></a>
																</div>
																<div class="item">
																	<a href="#"><img src="images/products/product-11-1.jpg" data-image="images/products/product-11-1.jpg" alt=""></a>
																</div>
																<div class="item">
																	<a href="#"><img src="images/products/product-11-2.jpg" data-image="images/products/product-11-2.jpg" alt=""></a>
																</div>
															</div>
															<div class="carousel-arrows"></div>
														</div>
														<!-- /product carousel -->
													</div>
													<!-- /Product Photo -->
													<!-- Product Details -->
													<div class="product-item-details">
														<div class="product-item-name"> <a title="Boyfriend Shorts Denim" href="product.html" class="product-item-link">Boyfriend Shorts Denim</a> </div>
														<div class="product-item-description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonkdni numquam eius modi tempora incidunt ut labore</div>
														<div class="price-box"> <span class="price-container"> <span class="price-wrapper"> <span class="old-price">$190.00</span> <span class="special-price">$149.00</span> </span>
															</span>
														</div>
														<div class="product-item-rating"> <i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i></div>
														<button class="btn add-to-cart" data-product="789123"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
													</div>
													<!-- /Product Details -->
												</div>
											</div>
										</div>
										<!-- /Product Item -->
									</div>
								</div>
								<!-- /Deal Carousel -->
							</div>
						</div>
					</div>
				</div>
				<div class="block fullwidth full-nopad">
					<div class="container">
						<div id="instafeed" class="instagramm-feed-full"></div>
						<div class="instagramm-title">Instagram Feed</div>
					</div>
				</div>