  
  <ul id="kind2" class="dropdown-content">
           <li><a href="/createkinder">Все товары</a></li>
           <li><a href="#!">Верхняя одежда</a></li>
           <li><a href="#!">Нижняя одежда</a></li>
           <li class="divider"></li>
           <li><a href="#!">Обувь</a></li>
          </ul>

           <ul id="kind1" class="dropdown-content">
           <li><a href="/createkinder">Все товары</a></li>
           <li><a href="#!">Верхняя одежда</a></li>
           <li><a href="#!">Нижняя одежда</a></li>
           <li class="divider"></li>
           <li><a href="#!">Обувь</a></li>
          </ul>

<ul id="men2" class="dropdown-content">
           <li><a href="/createmen">Все товары</a></li>
           <li><a href="#!">Верхняя одежда</a></li>
           <li><a href="#!">Нижняя одежда</a></li>
           <li class="divider"></li>
           <li><a href="#!">Обувь</a></li>
          </ul>

           <ul id="men1" class="dropdown-content">
           <li><a href="/createmen">Все товары</a></li>
           <li><a href="#!">Верхняя одежда</a></li>
           <li><a href="#!">Нижняя одежда</a></li>
           <li class="divider"></li>
           <li><a href="#!">Обувь</a></li>
          </ul>

<ul id="user2" class="dropdown-content">
           <li><a href="/create">Все товары</a></li>
           <li><a href="#!">Верхняя одежда</a></li>
           <li><a href="#!">Нижняя одежда</a></li>
           <li class="divider"></li>
           <li><a href="#!">Обувь</a></li>
          </ul>

           <ul id="user1" class="dropdown-content">
           <li><a href="/create">Все товары</a></li>
           <li><a href="#!">Верхняя одежда</a></li>
           <li><a href="#!">Нижняя одежда</a></li>
           <li class="divider"></li>
           <li><a href="#!">Обувь</a></li>
          </ul>

<ul id="jensk2" class="dropdown-content">
           <li><a href="/polzovatel">Все товары</a></li>
           <li><a href="#!">Верхняя одежда</a></li>
           <li><a href="#!">Нижняя одежда</a></li>
           <li class="divider"></li>
           <li><a href="#!">Обувь</a></li>
          </ul>

           <ul id="jensk1" class="dropdown-content">
           <li><a href="/polzovatel">Все товары</a></li>
           <li><a href="#!">Верхняя одежда</a></li>
           <li><a href="#!">Нижняя одежда</a></li>
           <li class="divider"></li>
           <li><a href="#!">Обувь</a></li>
          </ul>

<ul id="muj2" class="dropdown-content">
           <li><a href="/adminmen">Все товары</a></li>
           <li><a href="#!">Верхняя одежда</a></li>
           <li><a href="#!">Нижняя одежда</a></li>
           <li class="divider"></li>
           <li><a href="#!">Обувь</a></li>
          </ul>

           <ul id="muj1" class="dropdown-content">
           <li><a href="/adminmen">Все товары</a></li>
           <li><a href="#!">Верхняя одежда</a></li>
           <li><a href="#!">Нижняя одежда</a></li>
           <li class="divider"></li>
           <li><a href="#!">Обувь</a></li>
          </ul>

<ul id="det2" class="dropdown-content">
           <li><a href="/adminkinder">Все товары</a></li>
           <li><a href="#!">Верхняя одежда</a></li>
           <li><a href="#!">Нижняя одежда</a></li>
           <li class="divider"></li>
           <li><a href="#!">Обувь</a></li>
          </ul>

           <ul id="det1" class="dropdown-content">
           <li><a href="/adminkinder">Все товары</a></li>
           <li><a href="#!">Верхняя одежда</a></li>
           <li><a href="#!">Нижняя одежда</a></li>
           <li class="divider"></li>
           <li><a href="#!">Обувь</a></li>
          </ul>

<nav>
    <div class="nav-wrapper">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">

         <li><a class="dropdown-trigger" href="#!" data-target="user2">Добавить женские товары<i class="material-icons right">arrow_drop_down</i></a></li>
   
        <li><a class="dropdown-trigger" href="#!" data-target="men2">Добавить мужские товары<i class="material-icons right">arrow_drop_down</i></a></li>
        
          <li><a class="dropdown-trigger" href="#!" data-target="kind2">Добавить детские товары<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a href="/admin" class="brand-logo"><i class="material-icons">account_circle</i></a></li>
         </ul>
          <ul class="right hide-on-med-and-down">
           <li><a class="dropdown-trigger" href="#!" data-target="jensk2">Женские товары<i class="material-icons right">arrow_drop_down</i></a></li>
           <li><a class="dropdown-trigger" href="#!" data-target="muj2">Мужские товары<i class="material-icons right">arrow_drop_down</i></a></li>
           <li><a class="dropdown-trigger" href="#!" data-target="det2">Деские товары<i class="material-icons right">arrow_drop_down</i></a></li>
         
    </ul>
        </div>
  </nav>


<ul class="sidenav" id="mobile-demo">
          <li><a class="dropdown-trigger" href="#!" data-target="jensk1">Женские товары<i class="material-icons right">arrow_drop_down</i></a></li>
           <li><a class="dropdown-trigger" href="#!" data-target="muj1">Мужские товары<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a class="dropdown-trigger" href="#!" data-target="det1">Деские товары<i class="material-icons right">arrow_drop_down</i></a></li>
          <hr>
           <li><a class="dropdown-trigger" href="#!" data-target="men1">Добавить мужские товары<i class="material-icons right">arrow_drop_down</i></a></li>
   <li><a class="dropdown-trigger" href="#!" data-target="user1">Добавить женские товары<i class="material-icons right">arrow_drop_down</i></a></li>
   <!--<li><a href="/createkinder">Добавить детские товары</a></li>--> 
<li><a class="dropdown-trigger" href="#!" data-target="kind1">Добавить детские товары<i class="material-icons right">arrow_drop_down</i></a></li>
          <hr>
          <a href="/" class="center"><h5>В магазин</h5></a>
   </ul>

   