<!--HEAD-->
  {{> head}}
<!--HEAD-->




	<!-- Loader -->
	<div id="loader-wrapper" class="off">
		<div class="cube-wrapper">
			<div class="cube-folding">
				<span class="leaf1"></span>
				<span class="leaf2"></span>
				<span class="leaf3"></span>
				<span class="leaf4"></span>
			</div>
		</div>
	</div>
	<!-- /Loader -->
	<div class="fixed-btns">
		<!-- Back To Top -->
		<a href="#" class="top-fixed-btn back-to-top"><i class="icon icon-arrow-up"></i></a>
		<!-- /Back To Top -->
	</div>
	<div id="wrapper">
		<!-- Page -->
		<div class="page-wrapper">
			<!-- Header -->
			<header class="page-header variant-1 fullboxed sticky smart">
				<div class="navbar">
					<div class="container">
						<!-- Menu Toggle -->
						<div class="menu-toggle"><a href="#" class="mobilemenu-toggle"><i class="icon icon-menu"></i></a></div>
						<!-- /Menu Toggle -->
						<!-- Header Cart -->
					
						<!-- /Header Cart -->
						<!-- Header Links -->
					
						<!-- /Header Links -->
						<!-- Header Search -->
						
						<!-- /Header Search -->
						<!-- Logo -->
						<div class="header-logo">
							<a href="/contact" title="Logo"><img src="images/logo.png" alt="Logo" /></a>
						</div>
						<!-- /Logo -->
<!-- Mobile Menu -->
	{{> mobilemenu}}
<!-- Mobile Menu -->


<!-- Mega Menu -->
	{{> megamenu}}
<!-- /Mega Menu -->

</div>
	</div>
		</header>
			<!-- /Header -->
			<!-- Sidebar -->
			<div class="sidebar-wrapper">
				<div class="sidebar-top"><a href="#" class="slidepanel-toggle"><i class="icon icon-left-arrow-circular"></i></a></div>
				<ul class="sidebar-nav">
					<li> <a href="index.html">HOME</a> </li>
					<li> <a href="gallery.html">GALLERY</a> </li>
					<li> <a href="blog.html">BLOG</a> </li>
					<li> <a href="category-fixed-sidebar.html">SHOP</a> </li>
					<li> <a href="faq.html">FAQ</a> </li>
					<li> <a href="contact.html">CONTACT</a> </li>
				</ul>
				<div class="sidebar-bot">
					<div class="share-button toTop">
						<span class="toggle"></span>
						<ul class="social-list">
							<li>
								<a href="#" class="icon icon-google google"></a>
							</li>
							<li>
								<a href="#" class="icon icon-fancy fancy"></a>
							</li>
							<li>
								<a href="#" class="icon icon-pinterest pinterest"></a>
							</li>
							<li>
								<a href="#" class="icon icon-twitter-logo twitter"></a>
							</li>
							<li>
								<a href="#" class="icon icon-facebook-logo facebook"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /Sidebar -->
			<!-- Page Content -->
			<main class="page-main">
				<div class="block fullwidth full-nopad bottom-space">
					<div class="container-fluid">
						<!-- Main Slider -->
						<div class="mainSlider" data-thumb="true" data-thumb-width="230" data-thumb-height="100">
							<div class="sliderLoader">Loading...</div>
							<!-- Slider main container -->
							<div class="swiper-container">
								<div class="swiper-wrapper">
									<!-- Slides -->
									<div class="swiper-slide" data-thumb="images/slider/slide-02-thumb.png" data-href="http://google.com" data-target="_blank">
										<!-- _blank or _self ( _self is default )-->
										<div class="wrapper">
											<figure><img src="images/slider/slide-02.jpg" alt=""></figure>
											<div class="text2-1 animate" data-animate="flipInY" data-delay="0"> Avrora </div>
											<div class="text2-2 animate" data-animate="bounceIn" data-delay="500"> Season sale </div>
											<div class="text2-3 animate" data-animate="bounceIn" data-delay="1000"> popular brands </div>
											<div class="text2-4 animate" data-animate="rubberBand" data-delay="1500"> 70% </div>
											<div class="text2-5 animate" data-animate="hinge" data-delay="2000"> OFF </div>
										</div>
									</div>
									<div class="swiper-slide" data-thumb="images/slider/slide-01-thumb.png">
										<div class="wrapper">
											<figure><img src="images/slider/slide-01.jpg" alt=""></figure>
											<div class="caption animate" data-animate="fadeIn">
												<div class="text1 animate" data-animate="flipInY" data-delay="0"> Avrora </div>
												<div class="text2 animate" data-animate="bounceInLeft" data-delay="500"> <strong>New</strong> collection </div>
												<div class="text3 animate" data-animate="bounceInLeft" data-delay="1500"> WOMEN'S <strong>FASHION</strong> </div>
												<div class="animate" data-animate="fadeIn" data-delay="2000">
													<!-- coolbutton -->
													<a href="#" class="cool-btn" style="-webkit-clip-path: url(#coolButton); clip-path: url(#coolButton);"> <span>MORE</span> </a>
													<svg class="clip-svg">
														<defs>
															<clipPath id="coolButton" clipPathUnits="objectBoundingBox">
																<polygon points="0 .18, .99 .15, .91 .85, .07 .8" />
															</clipPath>
														</defs>
													</svg>
													<!-- // coolbutton -->
												</div>
											</div>
										</div>
									</div>
									<div class="swiper-slide" data-thumb="images/slider/slide-03-thumb.png">
										<div class="wrapper">
											<figure><img src="images/slider/slide-03.jpg" alt=""></figure>
											<div class="text3-1 animate" data-animate="bounceInDown" data-delay="0"> Street </div>
											<div class="text3-2 animate" data-animate="bounceInDown" data-delay="500"> Fashion </div>
											<div class="text3-3 animate" data-animate="bounceInDown" data-delay="1000"> And </div>
											<div class="text3-4 animate" data-animate="bounceIn" data-delay="1500"> Urban </div>
											<div class="text3-5 animate" data-animate="bounceIn" data-delay="2000"> Subcultures </div>
											<a href="#" class="text3-6 animate" data-animate="rubberBand" data-delay="2500"> SHOP NOW </a>
										</div>
									</div>
									<div class="swiper-slide" data-thumb="images/slider/slide-04-thumb.png">
										<div class="wrapper">
											<figure><img src="images/slider/slide-04.jpg" alt=""></figure>
											<div class="text4-1 animate" data-animate="bounceInLeft" data-delay="0">Summer</div>
											<div class="text4-2 animate" data-animate="bounceInDown" data-delay="500">very soon</div>
											<div class="text4-3 animate" data-animate="bounceInUp" data-delay="1000">Things to buy a swimsuit at a discount</div>
											<a href="#" class="text4-4 animate" data-animate="bounceInLeft" data-delay="1500">SHOP NOW</a>
										</div>
									</div>
								</div>
								<!-- pagination -->
								<div class="swiper-pagination"></div>
								<!-- pagination thumbs -->
								<div class="swiper-pagination-thumbs">
									<div class="thumbs-wrapper">
										<div class="thumbs"></div>
									</div>
								</div>
							</div>
						</div>
						<!-- /Main Slider -->
					</div>
				</div>
				<div class="block">
					<div class="container">
						<!-- Wellcome text -->
						<div class="text-center bottom-space">
							<h1 class="size-lg no-padding">Добро пожаловать в магазин <span class="logo-font custom-color">Avrora</span> </h1>
							<div class="line-divider"></div>
							<p class="custom-color-alt">Lorem ipsum dolor sit amet, ex eam mundi populo accusamus, aliquam quaestio petentium te cum.
								<br> Vim ei oblique tacimates, usu cu iudico graeco. Graeci eripuit inimicus vel eu, eu mel unum laoreet splendide, cu integre apeirian has.
							</p>
						</div>
						<!-- /Wellcome text -->
					</div>
				</div>
				<div class="block">
					<div class="container">
						<div class="row">
							<div class="col-sm-4">
								<div class="box style2 bgcolor1 text-center">
									<div class="box-icon"><i class="icon icon-truck"></i></div>
									<h3 class="box-title">FREE SHIPPING</h3>
									<div class="box-text">Free shipping on all orders over $199</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="box style2 bgcolor2 text-center">
									<div class="box-icon"><i class="icon icon-dollar"></i></div>
									<h3 class="box-title">MONEY BACK</h3>
									<div class="box-text">100% money back guarantee</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="box style2 bgcolor3 text-center">
									<div class="box-icon"><i class="icon icon-help"></i></div>
									<h3 class="box-title">ONLINE SUPPORT</h3>
									<div class="box-text">Service support fast 24/7</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="block">
		<div class="container">
			<div class="products-grid-wrapper isotope-wrapper">
				<div class="products-grid isotope four-in-row product-variant-5">

{{#each users}}								
	{{> main}}	
{{/each}}
</div>
	</div>
		</div>
{{> baners}}
			</main>
			<!-- /Page Content -->
<!-- Footer -->
{{> footer}}
<!-- /Footer -->
			<a class="back-to-top back-to-top-mobile" href="#">
				<i class="icon icon-angle-up"></i> To Top
			</a>
		</div>
		<!-- Page Content -->
	</div>
<!-- Button trigger modal -->
<!-- /Modal Quick View -->



<!--Script-footer-->
	{{> scriptfooter}}
<!--Script-footer-->